<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
  <div class="sidebar" id="sidebar">
    <div style="padding: 10px;">
      <span style="font-size: 150%;">Aniraj Kesavan</span><br>
      University of Utah<br>
      <a href="mailto:aniraj@cs.utah.edu">aniraj@cs.utah.edu</a>
    </div>

  {% comment %}
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>
  {% endcomment %}

<!---
  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == "Home" %} active{% endif %}" href="/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}
    <span class="sidebar-nav-item">Version v{{ site.version }}</span>
  </nav>
!--->
 <div class="sidebar-item">
      {% if site.twitter_username %}
      <p>
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <i class="fa fa-twitter"></i> Twitter
    </a>
      </p>
      {% endif %}
</div>


 <div class="sidebar-item">
  {% if site.github_username %}
  <p>
    <a href="https://github.com/{{ site.github_username }}">
      <i class="fa fa-github"></i> GitHub
    </a>
  </p>
{% endif %}
</div>


 <div class="sidebar-item">
    <p>
  {% if site.linkedin_username %}
    <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
      <i class="fa fa-linkedin"></i> LinkedIn
    </a>
{% endif %}
    </p>
</div>


 <div class="sidebar-item">
    <p>
  {% if site.google_plus_username %}
    <a href="https://plus.google.com/{{ site.google_plus_username }}">
      <i class="fa fa-google-plus"></i> Google+
    </a>
{% endif %}

    </p>
</div>


 <div class="sidebar-item">
    <p>
    {% if site.facebook_username %}
    <a href="https://www.facebook.com/{{ site.facebook_username }}">
      <i class="fa fa-facebook"></i> Facebook
    </a>
{% endif %}
    </p>
</div>

  <span class="sidebar-nav-item">Version v{{ site.version }}</span>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
